In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from glob import glob

In [2]:
# 한글 문제
# matplotlit의 기본 폰트에서 한글 지원되지 않기 때문에
# matplotlib의 폰트 변경 필요
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

In [149]:
# 2022 유동인구 데이터 csv 통합해서 불러오기
file_names1 = glob("./data/2022new/*.csv")

In [150]:
# 2022 유동인구 데이터 통합하기
ppl_total1 = pd.DataFrame()
columns = ['기관 명', '모델명', '시리얼', '서버타입', '사이트명', '방문자수', '날짜', '등록일자']
for file_name in file_names1:
    temp = pd.read_csv(file_name, encoding = 'cp949', dtype=str, usecols=columns)
    ppl_total1 = pd.concat([ppl_total1, temp], axis = 0)

In [136]:
ppl_total1.head()

,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,SDOT001,4027,00Original,0000004027,3,202201020000,2022-01-03 00:00:02
1,서울시,SDOT001,4044,00Original,0000004044,0,202109102120,2022-01-03 00:00:06
2,서울시,SDOT001,4033,00Original,0000004033,1,202201020000,2022-01-03 00:00:07
3,서울시,SDOT001,4041,00Original,0000004041,0,202201020000,2022-01-03 00:00:11
4,서울시,SDOT001,4015,00Original,0000004015,3,202201020000,2022-01-03 00:00:17

In [118]:
ppl_total1.to_csv('./data/2022_14분기_유동인구.csv', encoding='cp949')

In [119]:
data.info

<class 'pandas.core.frame.DataFrame'>
Index: 3696053 entries, 0 to 31562
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   기관 명    object
 1   모델명     object
 2   시리얼     object
 3   서버타입    object
 4   사이트명    object
 5   방문자수    object
 6   날짜      object
 7   등록일자    object
dtypes: object(8)
memory usage: 253.8+ MB

In [151]:
ppl_total1['사이트명'] = ppl_total1['사이트명'].str.slice(6,10)

In [152]:
ppl_total1['사이트명'] = ppl_total1['사이트명'].astype(int)

In [153]:
ppl_total1['시리얼'] = ppl_total1['시리얼'].astype(int)

In [154]:
ppl_total1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3696053 entries, 0 to 31562
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   기관 명    object
 1   모델명     object
 2   시리얼     int32
 3   서버타입    object
 4   사이트명    int32
 5   방문자수    object
 6   날짜      object
 7   등록일자    object
dtypes: int32(2), object(6)
memory usage: 225.6+ MB

In [138]:
ppl_total1.자치구.values

AttributeError: 'DataFrame' object has no attribute '자치구'

In [155]:
gu = {4017 : 'Jung-gu', 4016 : 'Jung-gu', 4018 : 'Jung-gu', 4053 : 'Gwangjin-gu', 4036 : 'Yangcheon-gu', 
      3014 : 'Gangbuk-gu', 3023 : 'Jungnang-gu', 4030 : 'Gangbuk-gu', 3040 : 'Gangbuk-gu', 4014 : 'Jung-gu', 
      3018 : 'Jungnang-gu', 4019 : 'Jung-gu', 3027 : 'Gangbuk-gu', 4015 : 'Jung-gu', 4029 : 'Gangbuk-gu', 
      4020 : 'Yongsan-gu', 4040 : 'Jongno-gu', 2996 : 'Gangdong-gu', 
      4021 : 'Eunpyeong-gu', 2999 : 'Geumcheon-gu', 3037 : 'Geumcheon-gu', 4022 : 'Eunpyeong-gu', 
      4041 : 'Jongno-gu', 3031 : 'Gangseo-gu', 4051 : 'Gangdong-gu', 4048 : 'Gwangjin-gu', 3009 : 'Guro-gu', 
      4035 : 'Gwanak-gu', 4039 : 'Jongno-gu', 3000 : 'Guro-gu', 3029 : 'Geumcheon-gu', 
      3030 : 'Geumcheon-gu', 3025 : 'Gangdong-gu', 4047 : 'Gwangjin-gu', 4037 : 'Jongno-gu', 
      3024 : 'Gangdong-gu', 4026 : 'Gangseo-gu', 4007 : 'Gangdong-gu', 3010 : 'Dobong-gu', 
      4033 : 'Gangdong-gu', 4013 : 'Gangnam-gu', 3022 : 'Gwanak-gu', 2993 : 'Dobong-gu',
      4024 : 'Gangseo-gu', 3006 : 'Gwangjin-gu', 4006 : 'Gangdong-gu', 3013 : 'Dobong-gu', 
      3028 : 'Nowon-gu', 3007 : 'Nowon-gu', 2995 : 'Gwangjin-gu', 3041 : 'Guro-gu', 3015 : 'Dobong-gu', 
      4023 : 'Gangseo-gu', 4027 : 'Gangseo-gu', 3019 : 'Dobong-gu', 4043 : 'Seongdong-gu', 3038 : 'Mapo-gu', 
      2992 : 'Yangcheon-gu', 3016 : 'Yangcheon-gu', 4002 : 'Seocho-gu', 4034 : 'Songpa-gu', 
      4042 : 'Seongdong-gu', 3003 : 'Yangcheon-gu', 4045 : 'Seocho-gu', 2997 : 'Mapo-gu', 
      4005 : 'Seocho-gu', 4031 : 'Seodaemun-gu', 4049 : 'Seodaemun-gu', 3004 : 'Songpa-gu', 
      3026 : 'Guro-gu', 4050 : 'Seodaemun-gu', 3017 : 'Guro-gu', 4032 : 'Mapo-gu', 4001 : 'Seocho-gu', 
      4004 : 'Seocho-gu', 4046 : 'Gangnam-gu', 2998 : 'Gangnam-gu', 4003 : 'Seocho-gu', 3011 : 'Gangnam-gu', 
      4009 : 'Gangnam-gu', 3036 : 'Dongjak-gu', 4010 : 'Gangnam-gu', 3033 : 'Dongjak-gu', 
      2994 : 'Dongjak-gu', 3039 : 'Dongjak-gu', 3002 : 'Mapo-gu', 4054 : 'Seocho-gu', 3021 : 'Dongjak-gu', 
      3012 : 'Jongno-gu'}

ppl_total1['시리얼'] = ppl_total1['시리얼'].map(gu)

In [156]:
ppl_total1

,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,SDOT001,Gangseo-gu,00Original,4027,3,202201020000,2022-01-03 00:00:02
1,서울시,SDOT001,NaN,00Original,4044,0,202109102120,2022-01-03 00:00:06
2,서울시,SDOT001,Gangdong-gu,00Original,4033,1,202201020000,2022-01-03 00:00:07
3,서울시,SDOT001,Jongno-gu,00Original,4041,0,202201020000,2022-01-03 00:00:11
4,서울시,SDOT001,Jung-gu,00Original,4015,3,202201020000,2022-01-03 00:00:17
...,...,...,...,...,...,...,...,...
31558,서울시,SDOT001,Jungnang-gu,00Original,3023,190,202212282350,2022-12-28 23:59:57
31559,서울시,SDOT001,Gangdong-gu,00Original,3024,157,202212282350,2022-12-28 23:59:58
31560,서울시,SDOT001,Gangdong-gu,00Original,3025,191,202212282350,2022-12-28 23:59:58
31561,서울시,SDOT001,Guro-gu,00Original,3026,88,202212282350,2022-12-28 23:59:59
31562,서울시,SDOT001,Gangbuk-gu,00Original,3027,137,202212282350,2022-12-28 23:59:59

In [17]:
ppl_total1.행정동.values

array(['Buam-dong', 'Myeong-dong', 'Myeong-dong', nan, 'Sinjeong4-dong',
       'Mia-dong', 'Junghwa2-dong', 'Beon3-dong', 'Suyu1-dong',
       'Sindang-dong', 'Muk2-dong', 'Hoehyeon-dong', 'Mia-dong',
       'Gwanghui-dong', 'Suyu3-dong', 'SeoulGrandPark', 'Itaewon2-dong',
       'Ihwa-dong', 'Amsa1-dong', 'Nokbeon-dong', 'Doksan4-dong',
       'Doksan4-dong', 'Daejo-dong', 'Ihwa-dong', 'Hwagok-dong1',
       'Buam-dong', 'Guui1-dong', 'Gocheok2-dong', 'Nakseongdae-dong',
       'Samcheong-dong', 'Gocheok2-dong', 'Siheung2-dong', 'Gasan-dong',
       'Amsa1-dong', 'Hwayang-dong', 'Gahoe-dong', 'Amsa1-dong',
       'Gayang-dong1', 'Seongnae1-dong', 'Chang2-dong', 'Cheonho1-dong',
       'Apgujeong-dong', 'Sinwon-dong', 'Chang2-dong', 'Banghwa1-dong',
       'Jayang1-dong', 'Amsa3-dong', 'Chang2-dong', 'Sanggye2-dong',
       'Gongneung1-dong', 'Junggok1-dong', 'Gu-ro4-dong', 'Chang3-dong',
       'Banghwa3-dong', 'Deungchon-dong1', 'Chang3-dong',
       'Seongsu1ga1-dong', 'Seogyo-dong', 'Sinwol1-dong', 'Sinwol1-dong',
       'Seocho4-dong', 'Jamsil6-dong', 'Seongsu1ga2-dong', 'Sinwol1-dong',
       'Buam-dong', 'Mangwon-dong1', 'Yangjae1-dong', 'Hongje3-dong',
       'Hongje3-dong', 'Jamsilbon-dong', 'Gu-ro4-dong', 'Cheonyeon-dong',
       'Gu-ro4-dong', 'Mangwon-dong1', 'Seocho3-dong', 'Banpo3-dong',
       'Sinsa-dong', 'Gaepo2-dong', 'Banpo4-dong', 'Gaepo2-dong',
       'Daechi4-dong', 'Sang-do4-dong', 'Yeoksam1-dong', 'Sadang2-dong',
       'Sang-do1-dong', 'Sadang2-dong', 'Mangwon-dong1', 'Buam-dong',
       'Sang-do1-dong', 'Sajik-dong'], dtype=object)

In [157]:
dong = {4017 : 'Buam-dong', 4016 : 'Myeong-dong', 4018 : 'Myeong-dong', 4053 : 'nan', 4036 : 'Sinjeong4-dong', 
      3014 : 'Mia-dong', 3023 : 'Junghwa2-dong', 4030 : 'Beon3-dong', 3040 : 'Suyu1-dong', 
      4014 : 'Sindang-dong', 3018 : 'Muk2-dong', 4019 : 'Hoehyeon-dong', 3027 : 'Mia-dong', 
      4015 : 'Gwanghui-dong', 4029 : 'Suyu3-dong', 4020 : 'Itaewon2-dong', 
      4040 : 'Ihwa-dong', 2996 : 'Amsa1-dong', 4021 : 'Nokbeon-dong', 2999 : 'Doksan4-dong', 
      3037 : 'Doksan4-dong', 4022 : 'Daejo-dong', 4041 : 'Ihwa-dong', 3031 : 'Hwagok-dong1', 
      4051 : 'Buam-dong', 4048 : 'Guui1-dong', 3009 : 'Gocheok2-dong', 4035 : 'Nakseongdae-dong', 
      4039 : 'Samcheong-dong', 3000 : 'Gocheok2-dong', 3029 : 'Siheung2-dong', 3030 : 'Gasan-dong', 
      3025 : 'Amsa1-dong', 4047 : 'Hwayang-dong', 4037 : 'Gahoe-dong', 3024 : 'Amsa1-dong', 
      4026 : 'Gayang-dong1', 4007 : 'Seongnae1-dong', 3010 : 'Chang2-dong', 4033 : 'Cheonho1-dong', 
      4013 : 'Apgujeong-dong', 3022 : 'Sinwon-dong', 2993 : 'Chang2-dong', 4024 : 'Banghwa1-dong', 
      3006 : 'Jayang1-dong', 4006 : 'Amsa3-dong', 3013 : 'Chang2-dong', 3028 : 'Sanggye2-dong', 
      3007 : 'Gongneung1-dong', 2995 : 'Junggok1-dong', 3041 : 'Gu-ro4-dong', 3015 : 'Chang3-dong', 
      4023 : 'Banghwa3-dong', 4027 : 'Deungchon-dong1', 3019 : 'Chang3-dong', 
      4043 : 'Seongsu1ga1-dong', 3038 : 'Seogyo-dong', 2992 : 'Sinwol1-dong', 3016 : 'Sinwol1-dong', 
      4002 : 'Seocho4-dong', 4034 : 'Jamsil6-dong', 4042 : 'Seongsu1ga2-dong', 3003 : 'Sinwol1-dong', 
      4045 : 'Buam-dong', 2997 : 'Mangwon-dong1', 4005 : 'Yangjae1-dong', 4031 : 'Hongje3-dong', 
      4049 : 'Hongje3-dong', 3004 : 'Jamsilbon-dong', 3026 : 'Gu-ro4-dong', 4050 : 'Cheonyeon-dong', 
      3017 : 'Gu-ro4-dong', 4032 : 'Mangwon-dong1', 4001 : 'Seocho3-dong', 4004 : 'Banpo3-dong', 
      4046 : 'Sinsa-dong', 2998 : 'Gaepo2-dong', 4003 : 'Banpo4-dong', 3011 : 'Gaepo2-dong', 
      4009 : 'Daechi4-dong', 3036 : 'Sang-do4-dong', 4010 : 'Yeoksam1-dong', 3033 : 'Sadang2-dong', 
      2994 : 'Sang-do1-dong', 3039 : 'Sadang2-dong', 3002 : 'Mangwon-dong1', 4054 : 'Buam-dong', 
      3021 : 'Sang-do1-dong', 3012 : 'Sajik-dong'}

ppl_total1['사이트명'] = ppl_total1['사이트명'].map(dong)

In [158]:
ppl_total1.head()

,기관 명,모델명,시리얼,서버타입,사이트명,방문자수,날짜,등록일자
0,서울시,SDOT001,Gangseo-gu,00Original,Deungchon-dong1,3,202201020000,2022-01-03 00:00:02
1,서울시,SDOT001,NaN,00Original,NaN,0,202109102120,2022-01-03 00:00:06
2,서울시,SDOT001,Gangdong-gu,00Original,Cheonho1-dong,1,202201020000,2022-01-03 00:00:07
3,서울시,SDOT001,Jongno-gu,00Original,Ihwa-dong,0,202201020000,2022-01-03 00:00:11
4,서울시,SDOT001,Jung-gu,00Original,Gwanghui-dong,3,202201020000,2022-01-03 00:00:17

In [159]:
ppl_total1.isnull().sum(axis = 0)

기관 명         0
모델명          0
시리얼     359275
서버타입         0
사이트명    359274
방문자수         0
날짜           0
등록일자         0
dtype: int64

In [160]:
ppl_total_new = ppl_total1.dropna()

In [161]:
ppl_total_new.isnull().sum(axis = 0)

기관 명    0
모델명     0
시리얼     0
서버타입    0
사이트명    0
방문자수    0
날짜      0
등록일자    0
dtype: int64

In [162]:
ppl_total_new.rename(columns = {'시리얼' : '자치구', '사이트명' : '행정동'}, inplace = True)

C:\Users\Gun Won Park\AppData\Local\Temp\ipykernel_1172\1688779183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppl_total_new.rename(columns = {'시리얼' : '자치구', '사이트명' : '행정동'}, inplace = True)

In [163]:
mymap = {'Geumcheon-gu':'금천구',
         'Gangnam-gu':'강남구', 'Jung-gu':'중구', 'Seodaemun-gu':'서대문구',
        'Guro-gu':'구로구', 'Nowon-gu':'노원구', 'Seocho-gu':'서초구', 
         'Gwangjin-gu':'광진구', 'Dobong-gu':'도봉구', 'Gangbuk-gu':'강북구',
        'Gangdong-gu':'강동구', 'Eunpyeong-gu':'은평구', 'Yongsan-gu':'용산구',
        'Gangseo-gu':'강서구', 'Jongno-gu':'종로구', 'Mapo-gu':'마포구',
        'Songpa-gu':'송파구', 'Dongjak-gu':'동작구', 'Gwanak-gu':'관악구',
        'Jungnang-gu':'중랑구','Seongdong-gu':'성동구', 'Yangcheon-gu':'양천구'}

ppl_total_new['자치구'] = ppl_total_new['자치구'].map(mymap)

C:\Users\Gun Won Park\AppData\Local\Temp\ipykernel_1172\3971964626.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppl_total_new['자치구'] = ppl_total_new['자치구'].map(mymap)

In [164]:
ppl_total_new.head()

,기관 명,모델명,자치구,서버타입,행정동,방문자수,날짜,등록일자
0,서울시,SDOT001,강서구,00Original,Deungchon-dong1,3,202201020000,2022-01-03 00:00:02
2,서울시,SDOT001,강동구,00Original,Cheonho1-dong,1,202201020000,2022-01-03 00:00:07
3,서울시,SDOT001,종로구,00Original,Ihwa-dong,0,202201020000,2022-01-03 00:00:11
4,서울시,SDOT001,중구,00Original,Gwanghui-dong,3,202201020000,2022-01-03 00:00:17
5,서울시,SDOT001,서대문구,00Original,Hongje3-dong,5,202201020000,2022-01-03 00:00:21

In [165]:
ppl_total_new.날짜.values

array(['202201020000', '202201020000', '202201020000', ...,
       '202212282350', '202212282350', '202212282350'], dtype=object)

In [166]:
ppl_total_new.to_csv('./data/2022_14분기_유동인구_구동.csv', encoding='cp949')

In [3]:
pop2022 = pd.read_csv('./data/2022_14분기_유동인구_구동.csv', encoding='cp949', low_memory=False)
pop2022.head()

,Unnamed: 0,기관 명,모델명,자치구,서버타입,행정동,방문자수,날짜,등록일자
0,0,서울시,SDOT001,강서구,00Original,Deungchon-dong1,3,202201020000,2022-01-03 00:00:02
1,2,서울시,SDOT001,강동구,00Original,Cheonho1-dong,1,202201020000,2022-01-03 00:00:07
2,3,서울시,SDOT001,종로구,00Original,Ihwa-dong,0,202201020000,2022-01-03 00:00:11
3,4,서울시,SDOT001,중구,00Original,Gwanghui-dong,3,202201020000,2022-01-03 00:00:17
4,5,서울시,SDOT001,서대문구,00Original,Hongje3-dong,5,202201020000,2022-01-03 00:00:21

In [4]:
import re

In [5]:
pop2022.head()

,Unnamed: 0,기관 명,모델명,자치구,서버타입,행정동,방문자수,날짜,등록일자
0,0,서울시,SDOT001,강서구,00Original,Deungchon-dong1,3,202201020000,2022-01-03 00:00:02
1,2,서울시,SDOT001,강동구,00Original,Cheonho1-dong,1,202201020000,2022-01-03 00:00:07
2,3,서울시,SDOT001,종로구,00Original,Ihwa-dong,0,202201020000,2022-01-03 00:00:11
3,4,서울시,SDOT001,중구,00Original,Gwanghui-dong,3,202201020000,2022-01-03 00:00:17
4,5,서울시,SDOT001,서대문구,00Original,Hongje3-dong,5,202201020000,2022-01-03 00:00:21

In [6]:
pop2022['날짜'] = pd.to_datetime(pop2022['날짜'], format='%Y%m%d%H%M')

In [9]:
pop2022.head()

,Unnamed: 0,기관 명,모델명,자치구,서버타입,행정동,방문자수,날짜,등록일자
0,0,서울시,SDOT001,강서구,00Original,Deungchon-dong1,3,2022-01-02,2022-01-03 00:00:02
1,2,서울시,SDOT001,강동구,00Original,Cheonho1-dong,1,2022-01-02,2022-01-03 00:00:07
2,3,서울시,SDOT001,종로구,00Original,Ihwa-dong,0,2022-01-02,2022-01-03 00:00:11
3,4,서울시,SDOT001,중구,00Original,Gwanghui-dong,3,2022-01-02,2022-01-03 00:00:17
4,5,서울시,SDOT001,서대문구,00Original,Hongje3-dong,5,2022-01-02,2022-01-03 00:00:21

In [11]:
print(pop2022['날짜'])

0         2022-01-02 00:00:00
1         2022-01-02 00:00:00
2         2022-01-02 00:00:00
3         2022-01-02 00:00:00
4         2022-01-02 00:00:00
                  ...
3336773   2022-12-28 23:50:00
3336774   2022-12-28 23:50:00
3336775   2022-12-28 23:50:00
3336776   2022-12-28 23:50:00
3336777   2022-12-28 23:50:00
Name: 날짜, Length: 3336778, dtype: datetime64[ns]

In [12]:
pop2022.to_csv('./data/2022_14분기_유동인구.csv', encoding='cp949')

In [13]:
pop2022['분기'] = pop2022['날짜'].dt.quarter

In [14]:
pop2022.head()

,Unnamed: 0,기관 명,모델명,자치구,서버타입,행정동,방문자수,날짜,등록일자,분기
0,0,서울시,SDOT001,강서구,00Original,Deungchon-dong1,3,2022-01-02,2022-01-03 00:00:02,1
1,2,서울시,SDOT001,강동구,00Original,Cheonho1-dong,1,2022-01-02,2022-01-03 00:00:07,1
2,3,서울시,SDOT001,종로구,00Original,Ihwa-dong,0,2022-01-02,2022-01-03 00:00:11,1
3,4,서울시,SDOT001,중구,00Original,Gwanghui-dong,3,2022-01-02,2022-01-03 00:00:17,1
4,5,서울시,SDOT001,서대문구,00Original,Hongje3-dong,5,2022-01-02,2022-01-03 00:00:21,1

In [21]:
bun_cnt = pop2022.groupby(['자치구', '분기'])['방문자수'].sum()
bun_cnt

자치구  분기
강남구  1      5716925
     2      9161312
     3     10896403
     4      8846970
강동구  1      4220736
             ...
중구   4      5175171
중랑구  1      1747909
     2      3779914
     3      4543692
     4      3845023
Name: 방문자수, Length: 88, dtype: int64

In [ ]:
hr_cnt = pop2022.groupby(['자치구', ''])['방문자수'].sum()
hr_cnt